name: Build Release APK (No Sign)

on:
  workflow_dispatch:
    inputs:
      app-name:
        description: 'App name for the artifact'
        required: false
        default: 'AxManager'
      branch:
        description: 'Branch to build'
        required: false
        default: 'main'

  workflow_call:
    inputs:
      app-name:
        required: false
        type: string
        default: 'AxManager'
      branch:
        required: false
        type: string
        default: 'main'

jobs:
    build:
        name: Build release APK
        runs-on: ubuntu-latest

        env:
           APP_NAME: ${{ inputs['app-name'] || github.event.inputs['app-name'] || 'App' }}
           TARGET_REF: ${{ inputs.branch || github.event.inputs.branch || github.ref }}

        steps:
            - name: Check the code
              uses: actions/checkout@v4
              with:
                ref: ${{ env.TARGET_REF }}

            - name: Setup JDK 21
              uses: actions/setup-java@v4
              with:
                distribution: 'temurin'
                java-version: '21'

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v4

            - name: Make gradlew executable
              run: chmod +x gradlew

            - name: Set up Android SDK
              uses: android-actions/setup-android@v3
        
            - name: Accept Android SDK Licenses
              run: yes | sdkmanager --licenses

            - name: Install CMake
              run: |
                sdkmanager "cmake;3.31.0"

            - name: Build release APK
              run: ./gradlew assembleRelease -Pandroid.injected.build.abi.filters=arm64-v8a

            - name: Save current date as env variable
              run: echo "current_date=$(date +'%I%M_%Y%m%d')" >> $GITHUB_ENV

            - name: List APK outputs
              run: |
                ls -R
                find . -name "*.apk" -maxdepth 6 -print
            
            - name: Upload release APK
              uses: actions/upload-artifact@v4
              with:
                name: '${{ inputs.app-name }}-release-unsigned-${{ env.current_date }}'
                path: manager/build/outputs/apk/release/*.apk
                if-no-files-found: error
